@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<p>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary"})
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td style="width: 16.66%">@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null) @Html.ActionLink("Detele", "Delete", "Movies", new { id = movie.Id }, new { @class = "btn btn-danger btn-sm" })</td>
                <td style="width: 16.66%">@movie.Genre.Name</td>
            </tr>
        }
    </tbody>
</table>

